@model Nop.Plugin.Widgets.ProductOrderQty.Models.ProductOrderQtyModel

@{
    //active menu item (system name)
    NopHtml.SetActiveMenuItemSystemName("Products");
}


<div class="card-body">
    <div id="product-details-area">

        <div class="form-group row">
            <div class="col-md-3">
                <nop-label asp-for="FirstOrderQty" />
            </div>
            <div class="col-md-9">
                <nop-editor asp-for="FirstOrderQty" asp-required="true" />
                <span asp-validation-for="FirstOrderQty"></span>
            </div>
        </div>

        <div class="form-group row">
            <div class="col-md-3">
                <nop-label asp-for="ReOrderQty" />
            </div>
            <div class="col-md-9">
                <nop-editor asp-for="ReOrderQty" asp-required="true" />
                <span asp-validation-for="ReOrderQty"></span>
            </div>
        </div>

        <div class="form-group row">
            <div class="col-md-9 offset-md-3">
                <button type="button" class="btn btn-primary" id="btnProductQuantities">
                    <i class="far fa-save"></i>
                    @T("Admin.Common.Save")
                </button>
            </div>
        </div>

    </div>
</div>


<script asp-location="Footer">
    $(document).ready(function () {
        $('#btnProductQuantities').click(function () {
            var FirstOrderQty = $('#@Html.IdFor(model => model.FirstOrderQty)').val();
            var ReOrderQty = $('#@Html.IdFor(model => model.ReOrderQty)').val();

            $('#btnProductQuantities').attr('disabled', true);

            var postData = {
                productId: '@Model.ProductId',
                firstOrderQty: FirstOrderQty,
                reOrderQty: ReOrderQty
            };

            addAntiForgeryToken(postData);

            $.ajax({
                cache: false,
                type: "POST",
                url: "@Url.Action("CreateOrUpdate", "ProductOrderQty")",
                data: postData,
                dataType: "json",
                success: function (data, textStatus, jqXHR) {
                    if (data.Result) {

                    } else {
                        //display errors if returned
                        display_nop_error(data);
                    }
                },
                complete: function (jqXHR, textStatus) {
                    $('#btnProductQuantities').attr('disabled', false);
                }

            });
        });
    });
</script>