@model Nop.Plugin.Widgets.ProductOrderQty.Models.ProductOrderQtyModel

@{
    //active menu item (system name)
    NopHtml.SetActiveMenuItemSystemName("Products");
}

<form asp-controller="ProductOrderQty" asp-action="CreateOrUpdate" method="post" id="product-form">
    <input asp-for="Id" type="hidden" />

    <div class="content-header clearfix">
        <div class="float-right">
            <button type="submit" name="save" class="btn btn-primary">
                <i class="far fa-save"></i>
                @T("Admin.Common.Save")
            </button>
        </div>
    </div>
    <div class="card-body">
        <div id="product-details-area">

            <div class="form-group row">
                <div class="col-md-3">
                    <nop-label asp-for="FirstOrderQty" />
                </div>
                <div class="col-md-9">
                    <nop-editor asp-for="FirstOrderQty" asp-required="true" />
                    <span asp-validation-for="FirstOrderQty"></span>
                </div>
            </div>

            <div class="form-group row">
                <div class="col-md-3">
                    <nop-label asp-for="ReOrderQty" />
                </div>
                <div class="col-md-9">
                    <nop-editor asp-for="ReOrderQty" asp-required="true" />
                    <span asp-validation-for="ReOrderQty"></span>
                </div>
            </div>

        </div>
    </div>
</form>