@using Nop.Plugin.Widgets.ProductOrderQty.Models
@model ProductOrderQtyModel


<div class="first-order-quantity">
    <span>@T("Plugins.Widgets.ProductOrderQty.FirstOrderQuantity"):</span>
    <span>@Model.FirstOrderQty</span>
</div>

<div class="re-order-quantity">
    <span>@T("Plugins.Widgets.ProductOrderQty.ReOrderQuantity"):</span>
    <span>@Model.ReOrderQty</span>
</div>