@using Nop.Core

@using Nop.Plugin.Widgets.VisitorsCrud.Models
@using Nop.Web.Models.Customer;
@model IEnumerable<PublicInfoModel>
@{
    Layout = "_ColumnsTwo";
}

@section left
{
    @await Component.InvokeAsync(typeof(CustomerNavigationViewComponent), new { selectedTabId = CustomerNavigationEnum.Info })
}

<div class="page-title">
    <h1>Visitors List</h1>
</div>
<div class="page-body">
    <div class="slider-wrapper theme-custom">
        <table class="table">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Age</th>
                    <th>Gender</th>
                    <th>Phone</th>
                </tr>
            </thead>

            <tbody>
                @{
                    foreach (var item in Model)
                    {
                        <tr>
                            <td>@item.Name</td>
                            <td>@item.Age</td>
                            <td>@item.Gender</td>
                            <td>@item.Phone</td>
                        </tr>
                    }
                }

            </tbody>
        </table>
    </div>
</div>
